{% extends "base.html" %}

{% block title %}
	MESSAGE
{% endblock %}

{% block content %}
	<center><h1>MESSAGE</h1></center>
	<form action="{% url 'form' %}" method="POST">
	{% csrf_token %}
	<table align="center">
		<tr>
			<td><b>Title:</b></td>
			<td><input type="text" name="title" /></td>
		</tr>
		<tr>
			<td><b>Content:</b></td>
			<td><input type="text" name="content" /></td>
		</tr>
		<tr>
			<td colspan="2"><center><input type="submit" value="send" /></center></td>
		</tr>
	</table>
	</form>
{% endblock %}
