{% extends "base.html" %}

{% block title %}
	BLOG
{% endblock %}

{% block content %}
	<center><h1>BLOG</h1></center>
	<center>
	<a href="{% url 'full_list' %}">ALL</a>
	{% for user in users %}
		| <a href="{% url 'list' user %}">{{ user }}</a>
	{% endfor %}
	</center>
	<br />
	<table align="center" border="1" width="500">
	{% for entry in entries %}
		<tr><td width="150"><b>{{ entry.author }}</b></td><td width="350"><b>{{ entry.title }}</b></td></tr>
		<tr><td colspan="2">{{ entry.content }}</td></tr>
	{% endfor %}
	</table>
{% endblock %}
