{% extends "base.html" %}

{% block title %}
	LOGIN
{% endblock %}

{% block content %}
	<center><h1>LOGIN</h1></center>
	{% if username == '' %}
	<form action="{% url 'login' %}" method="POST">
	{% csrf_token %}
	<table align="center">
		<tr>
			<td><b>Username:</b></td>
			<td><input type="text" name="username" /></td>
		</tr>
		<tr>
			<td><b>Password:</b></td>
			<td><input type="password" name="password" /></td>
		</tr>
		<tr>
			<td colspan="2"><center><input type="submit" value="login" /></center></td>
		</tr>
	</table>
	</form>
	{% endif %}
{% endblock %}
