<html>
<head>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<center>
		<a href="{% url 'full_list' %}">LIST</a> |
		<a href="{% url 'form' %}">ADD</a>
	</center>
	{% if message %}
		<br />
		<center><h2 color="red">{{ message }}</h2></center>
	{% endif %}
	{% block content %}{% endblock %}
	<br />
	{% if username == '' %}
		<center><a href="{% url 'login' %}">login</a></center>
	{% else %}
		<center>
			You are logged as {{ username }}!<br />
			<a href="{% url 'logout' %}">logout</a>
		</center>
	{% endif %}
</body>
</html>
